.table-sortable tbody tr {
    cursor: move;
}

body { 
font-family: Helevetica;
font-variant: small-caps;

 }


.header {
        text-align: center;
        font-family: Helvetica;
        font-variant: small-caps;
        color: #FFFFFF;
        border-radius: 10px;
        background: #66C285;
      /*  padding: auto; */
        width: auto;
        height: auto;
      /*  margin: auto; */
	  top: 20px;
}

 .btn-green{
background-color: #66C285;
color: #FFFFFF;
outline-color: #66C285;

}

.btn-info{
color:#FFFFFF;
}

.other{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 10px;
	width: 130px;
	float: right;

}


.spacing{
	margin-top: 10px;
}

textarea {
    width: 300px;
    height: 1000px;
}

.update{
	display: none;
	margin-left: 10px;
}

.add{
	margin-left: 10px;
}

.complete, .activeButton{
	margin-right: 10px;
}


.clear{
	/*display: none;*/
}

#datetimepicker2{
	width: 200px;
	
}

#datetimepicker1{
	width: 200px;
	
}


.detailedView{
	margin-left: 5px;
}

.highlight{
	background-color: black;
	font: white;
}

.btn:focus, .btn:hover {
  background-color: black;
}

thead{
	    color: #FFFFFF;
        background: #66C285
}

.error {
  border:2px solid red;
}


.expired {
	
	-webkit-animation: blinkRed 2.0s infinite;
	-moz-animation: blinkRed 2.0s infinite;
	-ms-animation: blinkRed 2.0s infinite;
	-o-animation: blinkRed 2.0s infinite;
		animation: blinkRed 2.0s infinite;
		color: white;
}
@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}



.normalView, .detailedView{
	position: relative;
    top: 55px;
	
}

#dynamicTable{
	height: 460px;
	width: auto;	
}


.completeMenu{
	position: relative;
    bottom: 10px;
	width:500px;
	height: 100px;
}

.nodisplay{
	display: none;
}


.testBlue {
	border-style: solid;
	border-width: medium;
	border-color: blue;
	border-radius: 10px;
}


.header {
       
		text-align: center;
        font-family: Helvetica;
        font-variant: small-caps;
        color: #FFFFFF;
        border-radius: 10px;
        background: #66C285;
	margin-bottom: 0px;
	margin-top: 0px;
        width: auto;
        height: auto;
	
}

.navbarCustom{
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
