body {
	height: auto;
	font-family: Helvetica, Courier, Times New Roman;
	font-variant: small-caps;
}

#trackingHeader {
	text-align: center;
	color: #FFF;
	border-radius: 10px; 
	background: #66C285;
	padding: auto;
	width: auto;
	height: auto;
	margin: auto;
	position: relative;
	bottom: 20px;
}

#trackingForm {
	margin:auto;
	text-align:center;
}

#trackingSubmitStyle {
	margin:auto;
	text-align:center;
	padding-top: 20px;
}

input[type=submit]{
	background-color: #66C285;
	color: #FFF;
	border-radius: 6px;
	padding: 6px 12px;
}

input[type=submit]:hover {
	background-color: #FFF; 
	border-color: #CCC;
	color: #66C285;
	font-weight: bold;
}

.trackingTextStyle {
	font-family: Helvetica, Courier, Times New Roman;
	margin-bottom: 2px;
}

#confirm {
	font-family: Helvetica, Courier, Times New Roman;
	margin:auto;
	text-align:center;
}

li {
	font-family: Helvetica, Courier, Times New Roman;
	margin:auto;
	text-align:center;	
}

table, th, td {
	
	border: 1px solid black;
	padding: 5px;
	margin: auto;
}

footer {
	background-color: #A6C9DB;
	text-align: center;
	border: 2px solid #CCC;
	margin-top: 15%;
}

footer img {
	width: 110px;
	height: 90px;
}
