/* Menu Bar CSS */

/*div#menubar1{ padding: 24px; border:#999 1px solid; }
div#menubar1 > a{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 17px;
		padding: 12px 24px;
		color: #999;
		margin-right: 10px;
		text-decoration: none;
		border-radius: 3px;
		transition: background 0.5s linear 0s, color 0.5s linear 0s;
		transition: background 0.5s linear 0s, color 0.5s linear 0s;
		border: #000 1px solid;
}
div#menubar1 > a:hover{
	background: #669900;
	color:#FFF;
}*/