.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.testblack {
	border-style: solid;
	border-width: medium;
	border-color: black;
	border-radius: 10px;
}

.testRed {
	border-style: solid;
	border-width: medium;
	border-color: red;
	border-radius: 10px;
}

.testBlue {
	border-style: solid;
	border-width: medium;
	border-color: blue;
	border-radius: 10px;
}

.left {
    float: left;
    width: auto;
	height: auto;
    text-align: left;
}
.right {
    float: right;
    width: auto;
	height: auto;
    text-align: left;
}
