
.error {
  border:2px solid red;
}

.Contact_Box {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	border-radius: 10px;
	width: 900px;
	height: 230px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.block{
	 display: block;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
		width: auto;
		height: auto;
}

.autoWidthHeight{
	width: auto;
	height: auto;

}

.customWidthHeight{
	width: 800px;
	height: 220px;
	

}

.colorWhite{
	color: white;
}

.leftTen{
	margin-left: 25px;
}

.customMarginButton {
	margin-left: 60px;
}



.input {
	width: 375px;
	height: 100px; 
	margin-left: auto;
	margin-right: auto;
}


.inputLeft {
	width: 375px;
	height: 100px; 
	float: left;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
}


.inputRight {
	width: 375px;
	height: 100px; 
	float: right;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
}


.displayBlock{
	display:block;
}

.testblack {
	border-style: solid;
	border-width: medium;
	border-color: black;
	border-radius: 10px;
}

.testRed {
	border-style: solid;
	border-width: medium;
	border-color: red;
	border-radius: 10px;
}

.testBlue {
	border-style: solid;
	border-width: medium;
	border-color: blue;
	border-radius: 10px;
}


.box {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	border-radius: 10px;
	width: 900px;
	height:auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.dropdown_style {
	width: 200px;
	height: 30px;

}

.input_box {
	width: 250px;
} 

.customBlock{
 
  width: 200px;
  height: 5px;

}


#container_environment_request_type{
	width: 450px;
	height: 80px;
}


#please_enter_options_title{
	font-weight: bold;
}

#div_environment_selection{
	float: left;
}

.spacer10 {
	height: 10px;
}
.spacer100 {
	height: 100px;
}

.spacer200 {
	height: 200px;
}






#select_option{
	width: 500px;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#select_option textarea {
	width: 500px;
	height: 100px;
}

footer{
	text-align: center;
}

h1 {
	font-style: italic;
}

p.submit{
	padding: 5px;
	width: 10%;
	text-align: center;
}


.buttons {
	color: white;
	background-color: black;
	font-style: bold;
	padding: 5px;
}


p {
font-family: arial;
}



#tableBody tr td {
	width: 26px;
}

/*
#today {
	background-color: #ffcc33;
}
*/

a:link {
	color: #000000; 
	text-decoration: none;
}

a:active {
	color: #000000; 
	text-decoration: none;
}

a:visited {
	color: #000000; 
	text-decoration: none;
}

a:hover {
	color: #990033; 
	text-decoration: underline;
}




.left {
    float: left;
    width: 150px;
	height: auto;
    text-align: left;
	padding:4px 0px 0px 0px;
	
}

.left b {
    float: left;
    width: 150px;
	height: auto;
    text-align: left;
	padding:7px 0px 7px 0px;
}
.right {
    float: left;
    width: 225px;
	height: auto;
    text-align: left;
}

#start_end_date{
	width: 320px;
	height: auto;
	text-align: left;
	margin-left: auto;
	margin-right: auto;


}

.left_date {
	padding-top: 5px;
    float: left;
    width: auto;
	height: auto;
    text-align: left;
	font-size: 15px;

}

.left_date div{
	padding: 2px;
}
/*
.right_date {
    float: left;
    width: auto;
	height: auto;

    
}
*/

.preferred_text{
	padding-top: 10px;
    float: left;
    width: 900px;
    height: 25px;
    text-align: center; 
}

#Revision{
	float: right; 
	font-size: 12px; 
}

.smallerTextBox{
	width: 200px;
}

.smallerTextBox input{

	height: 28px;

}

#div_request_type_selection{
	width: 225px;
    height: auto;
	float: right;
	text-align: left;
}

#select_dynamic_request_type{
	width: auto;
	height: 30px;
}

#detailsTextArea{
	width: 100%;
	height: 200px;
}
.topPadding10{
	padding-top: 10px;

}

#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 9001; /*ooveeerrrr nine thoussaaaannnd*/
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv {
	position:absolute;
	background-color:#eeeeee;
	width:300px;
	height:300px;
	z-index: 9002; /*ooveeerrrr nine thoussaaaannnd*/
}

.bottom {
	position: relative;
	bottom:-10px;
}

